 {{#if previousPage}}
<form action="/gamesList" method="get">
    <input type="hidden" name="page" value="{{previousPage}}">
    <button type="submit">Prev</button>
</form>
{{/if}}
<form action="/gamesList" method="get">
    <input type="hidden" name="page" value="{{nextPage}}">
    <button type="submit">Next</button>
</form>
{{#each games}}
<div>
    <h1>{{name}}</h1>
    <img src="{{background_image}}" style="height: 100px; width: 100px" alt="">
</div>
{{/each}}

