<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <nav class="navbar navbar-expand-lg" id="navbar">
                <a class="navbar-brand" id="brand-name" href="#">battleNodes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/about">About</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</nav>

<script type="text/javascript" src="js/about.js"></script>