<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <nav class="navbar navbar-expand-lg" id="navbar">
                <a class="navbar-brand" id="brand-name" href="#">battleNodes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="navbar-brand" href="/gamesList">Home <span class="sr-only">(current)</span></a>
                        <a class="navbar-brand active" href="/about">About</a>
                        <a class="navbar-brand" href="/logout">
                            Logout
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</nav>

<div class="col" id="devheader">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header" id="recHeader">
                <h2 class="center" id="devTitle">About the developers</h2>
            </div>
        </div>
    </div>
</div>
<div class=" card-body">
    <h5 class="card-title">Alejandro Castro</h5>
    <p class="card-text">A student with UCF bootcamp, an avid coder and experienced in video game consoles. Check out my
        github. </p>
    <a href="https://github.com/CastroAlejandro" target="_blank"><img
            src="https://img.icons8.com/fluent/48/000000/github.png" style="height: 30px" "width: 30px;" /> </a>

</div>
</div>
</div>


<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.</p>
</div>
</div>
</div>


<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
        content.</p>
</div>
</div>
</div>


<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.</p>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="js/about.js"></script>