<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<nav class="navbar navbar-expand-lg" id="navbar">
				<a class="navbar-brand" id="brand-name" href="#">battleNodes</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="navbar-brand" href="/about">About</a>
						<a class="navbar-brand" href="/about">Favorites</a>
						<a class="navbar-brand" href="/logout">
							Logout
						</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
</nav>

<div class="flex container col-md-12" id="recommendations">
	<div class="row">

		<div class="col-md-8">
			<div class="card">
				<div class="card-header" id="recHeader">
					<h2 class="center" id="recTitle">Your Top battleNode Recommendations</h2>
				</div>

				<div id="games_page" class="scroll">
					{{!-- {{>gamesList}} --}}
					{{> sampleList}}
					<h1>YEET</h1>
				</div>
			</div>
		</div>

		<div class="flex container col-md-4" id="developers-picks">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header" id="recHeader">
							<h2 class="center" id="recTitle">Developer's Picks</h2>
						</div>


					</div>
				</div>
				<div class="scroll">
					<div class="card mb-3" id="recHeader" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img class="img-thumbnail"
									src="https://i.kinja-img.com/gawker-media/image/upload/t_original/xr163z5ztqah0em9pj4f.jpg"
									alt="Banjo-Kazooie">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title" id="recTitle">Banjo Kazooie</h5>
									<p class="card-text" id="recTitle">This game features a male bear named Banjo and
										his
										friend, a large
										female
										red bird called Kazooie, who are both controlled by the player. Throughout the
										various games, they are
										tasked with thwarting the various evil schemes of a witch named Gruntilda.
										Year: 1998
										Console: Nintendo 64
									</p>
									<p class="card-text"><small class="text-muted" id="recTitle">Picked by Developer:
											Jonathan Smith</small>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3" id="recHeader" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img class="img-thumbnail"
									src="https://external-preview.redd.it/R7S80mQFgB5rSClQS6JuALUmVL2lHL6PBIWJ0JksQss.png?format=pjpg&auto=webp&s=e3c1cc6a6c07543278c22078df1514e8127d3c89"
									alt="Kingdom Hearts">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title" id="recTitle">Kingdom Hearts</h5>
									<p class="card-text" id="recTitle">Set in a vast array of Disney and Pixar worlds,
										KINGDOM HEARTS
										follows
										the journey of Sora, a young boy and unknowing heir to a spectacular power. Sora
										is
										joined by Donald
										Duck
										and Goofy to stop an evil force known as the Heartless from invading and
										overtaking
										the universe.
										Year Released: 2002
										Console: Playstation
									</p>
									<p class="card-text"><small class="text-muted" id="recTitle">Picked by Developer:
											Ashlyn
											Hicks</small>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3" id="recHeader" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img class="img-thumbnail"
									src="https://s1.gaming-cdn.com/images/products/60/271x377/call-of-duty-black-ops-cover.jpg"
									alt="COD Black OPs">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title" id="recTitle">Call of Duty: Black OPs</h5>
									<p class="card-text" id="recTitle">Set in the 1960s during the Cold War, the game's
										campaign follows CIA
										operative Alex Mason as he attempts to recall certain memories in combat in
										order to
										complete his
										mission
										objective.
										Year Released: 2010
										Console: XBOX360, Playstation 3</p>
									<p class="card-text"><small class="text-muted" id="recTitle">Picked by Developer:
											Michael Carter</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/members.js"></script>