form.signup,
form.login {
  margin-top: 50px;
}

#card-choices {
  text-align: center;
  margin    : 0 auto;

  float: none;

  margin-bottom: 10px;
  width        : 50%
}

body {

  background-color: "black";
  background-image: url("Background.svg");

}
.center{
  text-align: center;
}
#developers-picks {
  float: right;

}
/* visibility: hidden; */
/* .hide {

  display: none;
} */