form.signup {
  margin-top: 20px;
}

form.login {
  margin-top: 50px;
}

#brand-name {
  color          : pink;
  text-decoration: underline;
}

#buttoni {
  background-color: black;
  color           : deeppink;
}

#signup-form,
#login-form {
  border: solid 5px #0099cc !important;
}


#card-choices {
  text-align: center;
  margin    : 0 auto;

  float: none;

  margin-top: 40px;
  width     : 50%;

}

.card-body {
  background-color: black;
  border          : 8px solid #003EFF;
}

#navbar {
  background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80");
}



#recHeader, #games_page {
  background-color: black;
  border          : 8px solid #003EFF;
}

#developer-info {
  background-color: black;
  border          : 8px solid rgb(98, 0, 255);
  margin: 10px 10px 10px 10px;
  width: 75%;
  margin: 0 auto;
}

#recTitle,
h2 {

  color: #FF77FD;
}
h5 {
  color: silver;
}

p {
  color: rgb(255, 102, 0);
}

.scroll{
  max-height: 600px;
  overflow-y: auto;
}
nav {
  height: 3em;
}

.background {
  background-image: url("http://wallpaperstock.net/stars%2C-universe%2C-space_wallpapers_54623_2560x1440.jpg");
  color           : white;
}



body {
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : cover;
  background-image   : url("Background.svg");

}


#login-form,
#signup-form {

  margin: 0 auto;

  float: none;

  margin-bottom: 10px;
  width        : 50%
}

#login-title {
  text-align: center;
  margin-top: 50px;
}

#signupformid {
  text-align: center;
  margin-top: 100px;
}

.center {
  text-align: center;
}

#developers-picks {
  float: right;

}


.list-group {

  border    : 1px solid black;
  width     : 600px;
  height    : 1000px;
  overflow-y: scroll;
  overflow-x: hide;


}

.console {
  background-color: #ff2975;
}


.genre {
  background-color: #ffd319;
}

.rating {
  background-color: #f222ff
}

.decade {
  background-color: #00BFFF
}

.submit {
  background-color: #DC143C;
}

#devheader {
  margin-top: 50px;
}

#devTitle {
  color: deeppink;
}

/* visibility: hidden; */
/* .hide {

  display: none;
} */